  .countryItem {
    margin: 16px;
    padding: 0 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;

    img{
      margin: 10px;
    }
  }
